<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col
        sm:flex-row
        flex-0
        sm:items-center sm:justify-between
        p-6
        sm:py-8 sm:px-10
        border-b
        bg-card
        dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Admin</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Invitations</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl
                    md:text-4xl
                    font-extrabold
                    tracking-tight
                    leading-7
                    sm:leading-10
                    truncate">
                    Create Invitations
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-full">
            <form
                [formGroup]="invitationForm"
                #invitationNgForm="ngForm"
                class="flex flex-col
                mt-0
                p-8
                pb-4
                bg-card
                rounded-2xl
                shadow
                overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="w-full" [ngClass]="invitationForm.get('email').untouched && !submited ? 'error-class' : ''">
                        <mat-label>Email address</mat-label>
                        <input id="email" matInput [formControlName]="'email'" />
                        <mat-error
                            *ngIf="invitationForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error
                            *ngIf="invitationForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="w-full" [ngClass]="invitationForm.get('name').untouched && !submited ? 'error-class' : ''">
                        <mat-label>Name</mat-label>
                        <input id="email" matInput [formControlName]="'name'"
                            />
                        <mat-error
                            *ngIf="invitationForm.get('name').hasError('required')">
                            Name address is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Invitation Link</mat-label>
                        <input matInput [formControlName]="'invitationLink'" />
                        <mat-icon
                            (click)="refreshGuid()"
                            class="icon-size-5 cursor-pointer"
                            [svgIcon]="'heroicons_outline:refresh'"
                        ></mat-icon>
                    </mat-form-field>
                    <div class="flex-auto gt-xs:pr-3" *ngIf="invitationUrl">
                        <mat-label>Invitation Url</mat-label>
                        <p class="underline">
                            <b>{{ invitationUrl }}</b>
                        </p>
                    </div>
                </div> -->
                <div class="flex flex-col gt-xs:flex-row items-center">
                    <button
                        class="fuse-mat-button-large w-50 mt-6"
                        mat-flat-button
                        [disabled]="invitationForm.disabled"
                        [color]="'primary'"
                        (click)="saveInvitation()">
                        <span *ngIf="!invitationForm.disabled">Send Invitation</span>
                        <mat-progress-spinner
                            *ngIf="invitationForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
