::ng-deep .mat-step-icon-state-edit {
    background-color: #64748b !important;

}

::ng-deep .mat-step-icon-state-number {
    background-color: #64748b !important;
}

::ng-deep .mat-step-icon-selected {
    background-color: #4f46e5 !important;
}