::ng-deep .custom-current-topic {
    background: #35844e !important;
}
::ng-deep .custom-next-topic {
    background: #356f84 !important;
}
::ng-deep .custom-previous-topic {
    background: #525252 !important;
}
