/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    body .mobile-grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    body .mobile-gap-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }

    body .mobile-mb-0 {
        margin-bottom: 0;
    }

    body .list-questions .mat-row {
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
